<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xeg.servers.agent.domain.mapper.AgentMapper">

    <sql id="agentField">
		t1.id agentId,t1.admin_id,t1.agent_name,t1.parent_id,t1.agent_type,
		t2.id agentIdentityId,t2.area_code,t2.invite_code,t2.phone
    </sql>

    <select id="getAgentByInviteCode" resultType="com.xeg.servers.agent.bean.vo.AgentVO">
        select
        <include refid="agentField"/>
        from xeg_agent as t1
        left join xeg_agent_identity as t2 on t1.id = t2.agent_id
        where t2.invite_code = #{inviteCode}
    </select>


    <select id="getUserIdentityListByPhone" resultType="com.xeg.servers.agent.bean.vo.UserIdentityVO">
        select c.identity_type,b.agent_type,a.bid agent_identity_id from
        xeg_agent_identity a left join xeg_agent b on a.agent_id = b.bid
        LEFT JOIN xeg_identity c on a.identity_id = c.bid
        where a.phone = #{phone}
        union all
        select b.identity_type,0 agent_type,0 agent_identity_id from
        xeg_user_identity a
        left join xeg_identity b on a.identity_id = b.bid
        where phone = #{phone}
    </select>

    <select id="getAgentInviteCodeByUserId" resultType="java.lang.String">
		select t2.invite_code from xeg_user_agent t1 left join xeg_agent_identity t2 on t1.agent_identity_id = t2.bid
		where t1.user_id=#{userId} and t1.is_del=0 and t2.is_del=0  limit 1
	</select>


    <select id="getAgentInviteCodeByPhone" resultType="java.lang.String">
		select invite_code from xeg_agent_identity where phone=#{phone} and is_del = 0 limit 1
	</select>
</mapper>
